.Footer {
  padding: 10px;
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 300;
  font-size: 15px;
  color: #4d4d4d;
  text-align: center;
  height: 20px;
}

p {
  margin: 0;
}

.item-left {
  margin: 0;
  float: left;
}

.filters {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  right: 0;
  left: 0;
}

.filters li {
  display: inline;
}

.filters li a {
  color: inherit;
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
}

.filters li a.selected {
  border-color: rgba(175, 47, 47, 0.2);
}

.clear-all {
  float: right;
  cursor: pointer;
  position: relative;
}

.clear-all:hover {
  text-decoration: underline;
}
